.alert {
    width: 95%;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.formWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
}
