.search__field {
    width: 100%;
    margin-bottom: 20px;
}

.search__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 20px;
}
