.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin-bottom: 12px;
}

.creator {
    display: flex;
    gap: 4px;
    margin-bottom: 20px;
}

.creator__name {
    font-weight: 700;
}

.description {
    white-space: pre-wrap;
    margin-bottom: 20px;
}
