.navbar {
    width: 100%;
    min-height: 80px;
    position: sticky;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: var(--second-color);
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar__link {
    color: #000000;
}

.navbar__avatarWrapper {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 8px;
    cursor: pointer;
}

.navbar__avatar {
    background-color: var(--main-dark-color);
}
