.card {
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--second-light-color);
    transition: background-color 0.5s;
}

.card:hover {
    background-color: var(--second-color);
}

.card__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.card__name {
    font-weight: 700;
}

.card__description {
    white-space: pre-wrap;
}
